<template name="playerStatus">
  {{#if company}}
    {{#if squad}}
      {{#with company}}
        {{> squadStatus}}
      {{/with}}
    {{/if}}
  {{else}}
    {{> createOrJoinCompany}}
  {{/if}}
</template>

<template name="squadStatus">

  <h2>{{company.name}}</h2>
  <h3>You are on server: {{server.name}}</h3>

</template>

<template name="createOrJoinCompany">
  <h2>You don't seem to be in a company. Create a company!</h2>
  <label>Name for your company:</label>
  <input id="create-company-name" type="text">
  <button id="create-company">Create new company</button>

  {{#if invites}}
    <h2>Or join one of these companys:</h2>
    {{#each invites}}
      <button class="join-company" data-companyId="{{companyId}}">
        Join company "{{companyName}}"
      </button>
    {{/each}}
  {{else}}
    <h2>... or ask your friends for an invite!</h2>
  {{/if}}

</template>