<template name="home">

  <div class="row">
    <div class="col-md-12">
      {{> players_company}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{> squads_status}}
    </div>
  </div>

  <div class="row add-top">
    <div class="col-md-4">
      {{> servers_list}}
    </div>
    <div class="col-md-4">
      {{> companies_list}}
    </div>
    <div class="col-md-4">
      {{#with playerListContext}}
        {{> players_list}}
      {{/with}}
    </div>
  </div>
</template>