<template name="home">
  <div class="row">
    <div class="col-md-12">
      <section>
        {{> players_status}}
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <section>
        {{> servers_list}}
      </section>
    </div>
    <div class="col-md-6">
      <section>
        {{> companies_list}}
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section>
        {{> squads_status}}
      </section>
    </div>
  </div>
</template>