<template name="players_list">

  {{#if search}}
    <div class="form-group">
      <label for="search-players">Search players</label>

      <input type="text" class="form-control" id="search-players" placeholder="search">
    </div>
  {{/if}}

  <div>
    <h2>Players ({{getPlayers.length}})</h2>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
        </tr>
      </thead>
      <tbody>
        {{#each getPlayers}}
          <tr>
            <td><a href="/players/{{this._id}}">{{this.getName}}</a></td>
            <td>
              {{#if this.getCompany}}
                {{this.getCompany.getName}} ({{this.getCompanyRank}})
              {{else}}
                {{#if canInvite _id}}
                  <button id="invite-to-company" data-playerId="{{_id}}" class="btn btn-primary">Invite</button>
                {{/if}}
              {{/if}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="2">No players found.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
