<template name="serverStatus">
  <div>
    <h2>Servers</h2>
    <div>
      <div class="row">
        <div>
          Server ID
        </div>
        <div>
          Name
        </div>
        <div>
          Status
        </div>
        <div>
          Players
        </div>
      </div>

    {{#each servers}}
      <div class="row">
        <div>
          {{_id}}
        </div>
        <div>
          {{name}}
        </div>
        <div>
          {{status}}
        </div>
        <div>
          {{getNumberOfPlayers}}
        </div>
      </div>
    {{else}}
      <div class="row">
        No servers found.
      </div>
    {{/each}}
    </div>
  </div>
</template>
