<template name="serverStatus">
  <div>
    <h2>Servers</h2>
    <div>
      <div class="row">
        <div class="col-md-4">
          Name
        </div>
        <div class="col-md-2">
          Status
        </div>
        <div class="col-md-2">
          Players
        </div>
      </div>

    {{#each servers}}
      <div class="row">
        <div class="col-md-4">
          {{name}}
        </div>
        <div class="col-md-2">
          {{status}}
        </div>
        <div class="col-md-2">
          {{getNumberOfPlayers}}
        </div>
      </div>
    {{else}}
      <div class="row">
        No servers found.
      </div>
    {{/each}}
    </div>
  </div>
</template>
