<template name="companies_status">
  <div>
    {{#if company}}
      <h1>Company: {{ company.getName }}</h1>

      {{#if ownCompany}}
        <button class="js-leave-company btn btn-primary">Leave</button>
        <a class="btn btn-primary" href="{{pathFor route='combat reports'}}">Combat reports</a>

        {{#if canManageCompany}}
          <button class="js-rename-company btn btn-primary">Rename</button>
          <a class="btn btn-primary" href="{{pathFor route='players'}}">Invite</a>
          <a class="btn btn-primary" href="{{pathFor route='company base location'}}">Base location</a>
          <a class="btn btn-primary" href="{{pathFor route='company sellout'}}">Sell out</a>
        {{/if}}

        {{#if companyOwner}}
          <a class="btn btn-primary" href="{{pathFor route='company players'}}">Permissions</a>
        {{/if}}
      {{/if}}

      <div class="row">
        {{#with company}}
          <div class="col-md-3">
            <h2>KILLS</h2>{{getKills}}
          </div>

          <div class="col-md-3">
            <h2>DEATHS</h2>{{getDeaths}}
          </div>

          <div class="col-md-3">
            <h2>K/D RATIO</h2>{{getKDRatio}}
          </div>

          <div class="col-md-3">
            <h2>RENOWN</h2>{{getRenown}}
          </div>
        {{/with}}
      </div>

      {{#if ownCompany}}
        <div class="row">
          <div class="col-md-12">
            {{> players_list company }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#with companyInventoryView}}
              {{> inventory}}
            {{/with}}
          </div>
        </div>
      {{else}}
        <div class="row">
          <div class="col-md-12">
            {{> players_list company }}
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
</template>
