<template name="marketPlaceView">

  <div class="row add-top" style="position:relative;">
    <div class="col-md-6 marketlist">
      {{#each getItems}}
        <div class="panel panel-default {{getStatusClass}} clickable">
          <div class="panel-heading marketEntry" data-marketid="{{getMarketId}}">
            {{getName}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="col-md-6 marketItemInfo">
      {{#with getSelectedItem}}
        {{#with getItem}}
          {{> itemInfoLarge}}
        {{/with}}

        {{#if currentCompany}}
          <div class="row add-top">
            <div class="col-md-4">
              <h4>OWNED</h4>
              <h4>{{amountInArmory getItem.armaClass}}</h4>
            </div>
            <div class="col-md-4">
              <h4>COST</h4>
              {{#each getTotalCosts}}
                <div>{{item.name}}: {{amount}} ({{amountInArmory item.armaClass}})</div>
              {{/each}}
            </div>
          </div>

          {{#if canManageCompany}}
            <div class="row add-top marketBuyRow">
              <div class="col-md-4">
                 <button class="buyless btn btn-primary" style="width:100%;"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
              </div>
              <div class="col-md-4">
                {{amountToBuy}}
              </div>
              <div class="col-md-4">
                 <button class="buymore btn btn-primary" style="width:100%;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              </div>
            </div>

            <div class="row add-top">
              <div class="col-md-12">
                <button id="buy-button" class="btn {{affordClass}}" style="width:100%;">{{buyText}}</button>
              </div>
            </div>
          {{else}}
            <div class="row add-top">
              <div class="col-md-12">
                <h2 style="danger">Only company officers can buy equipment</h2>
              </div>
            </div>
          {{/if}}
        {{/if}}
      {{/with}}
    </div>

  </div>

</template>