<template name="base_modules">

  <h1>Base modules</h1>

  <div class="row">
    <div class="col-md-6">
      <h2>Primary module (required)</h2>

      {{#each primaryModules}}
        {{> base_module}}
      {{/each}}
    </div>
    <div class="col-md-6">
      <h2>Secondary modules {{spaceUsedBySecondaryModules}}/3</h2>

      {{#each normalModules}}
        {{> base_module}}
      {{/each}}
    </div>
  </div>

</template>

<template name="base_module">
  <div class="panel panel-default {{getStatusClass}} clickable">
    <div class="panel-heading module" data-moduleId="{{_id}}">
      {{name}}
    </div>
    <div class="panel-body">
      {{description}}
    </div>
  </div>
</template>