<template name="loot">
  {{#each itemsAndChange}}
    <div class="info-box bg-info">




      <div class="row lootEntry">
        <div class="col-md-10">
          {{#if multipleItems}}
            <b>SELECT ONE ROW</b>
          {{/if}}
          {{#each items}}
            <div class="row">
              <div class="col-md-12">
                {{itemRow}}
              </div>
            </div>
          {{/each}}
        </div>
        <div class="col-md-2">
          {{change}}
        </div>
      </div>
    </div>
  {{/each}}
</template>