<template name="squads_status">
  <div>
    <h2>Squad</h2>
    {{#if currentSquad}}
      <div class="container-fluid">
        <div class="row">
          {{#with currentSquad}}
            <div class="col-md-4">
              {{> squad_players}}
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
              {{> squad_queue_status}}
            </div>
          {{/with}}

        </div>

        <div class="row">
          {{#with currentSquad}}
            <div class="col-md-4">
              {{> squad_objective}}
            </div>
            <div class="col-md-4">
              {{> squadMemberInventory}}
            </div>
          {{/with}}
          <div class="col-md-4">
            <h3>Armory</h3>
            {{#with currentCompany}}
              {{> armory}}
            {{/with}}
          </div>

        </div>
      </div>
    {{else}}
      {{#if currentUser}}
        {{#if companyHasSquad}}
          <button class="joinSquad">JOIN SQUAD</button>
        {{else}}
          <button class="createSquad">CREATE SQUAD</button>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="squad_players">
  <h3>Players</h3>
  {{#each getPlayers}}
    <h4>{{> players_avatar this}}{{> players_name this}}
    <button class="leaveSquad">Leave</button></h4>
  {{/each}}
</template>

<template name="squad_queue_status">
  <h3>Queue status</h3>
  {{#if inQueueServer}}
    <h1>Waiting for server</h1>
    <button class="leaveQueue">Not ready</button>
  {{/if}}

  {{#if inGameServer}}
    <h1>Please join server {{inGameServer.name}}</h1>
  {{/if}}

  {{#if notInQueueOrGame}}
    <button class="joinQueue">Ready</button>
  {{/if}}
</template>













