<template name="squads_status">
  {{#unless currentSquad}}
    {{#if currentCompany}}
      <div class="info-box bg-info">
        <p>
          To play a game round, create or join a <strong>squad</strong>.
          Squads are formed from the people in your <strong>company</strong>, {{currentCompany.getName}}.
        </p>
        {{#if currentUser}}
          {{#each reinforceableSquads}}
            <button class="joinSquad btn btn-primary" data-squadId={{_id}}>Reinforce {{getName}} squad</button> or
          {{/each}}

          {{#each joinableSquads}}
            <button class="joinSquad btn btn-primary" data-squadId={{_id}}>Join {{getName}} squad</button> or
          {{/each}}

          <button class="createSquad btn btn-primary">Create squad</button>
        {{/if}}
      </div>
    {{/if}}
  {{/unless}}

  {{#if currentSquad}}
    <div class="info-box bg-info">
      Gather your <strong>friends</strong>, fill your squad <strong>inventory</strong> and get <strong>ready</strong>! When you have clicked ready and entered the squad into the queue, you have to wait for an opponent. When two squads are ready a server will start and you will be provided a link to join.
    </div>

    <h1>
      {{currentSquad.getName}} squad {{currentSquad.getAmountOfMembers}} / {{currentSquad.getMaxMembers}}
    </h1>

    <div class="row">
      {{#with currentSquad}}
        <div class="col-md-4">
          {{> squad_players}}
        </div>
        <div class="col-md-8">
          {{> squad_queue_status}}
        </div>
      {{/with}}
    </div>

    <div class="row">
      {{#with currentSquad}}
        <div class="col-md-12">
          {{#with squadInventoryView}}
            {{> inventory}}
          {{/with}}
        </div>
      {{/with}}
    </div>
  {{/if}}
</template>

<template name="squad_players">
  <h2>Players</h2>
  {{#each getPlayers}}
    <h4>
      {{> players_avatar this}}{{> players_name this}}
      {{# if this.isCurrent }}
        <button class="leaveSquad btn btn-danger">Leave</button>
      {{/if}}
      {{# if this.isReady }}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {{/if}}
    </h4>
  {{/each}}
</template>

<template name="squad_queue_status">
  {{> queue_status}}

  {{#if inQueue}}
    <h1>Waiting for server</h1>
    <button class="leaveQueue btn btn-danger btn-lg btn-block">Leave server queue</button>
  {{/if}}

  {{#if canJoinGame}}
    <h2>Time to join {{getTimeToJoinServer}}</h2>
    <a class="btn btn-primary btn-lg btn-block" href="{{inGameServer.getJoinUrl}}">
      Click to join server {{inGameServer.name}}
    </a>
    <table class="add-top">
      <tr>
        <th>Host</th>
        <th>Port</th>
        <th>Password</th>
      </tr>
      <tr>
        <td>{{inGameServer.host}}</td>
        <td>{{inGameServer.port}}</td>
        <td>{{inGameServer.password}}</td>
      </tr>
    </table>
  {{/if}}

  {{#if notInQueueOrGame}}
    {{#if currentPlayer.isReady }}
      <button class="toggleReady btn btn-success btn-lg btn-block">Ready <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
    {{/if}}
    {{#unless currentPlayer.isReady }}
      <button class="toggleReady btn btn-primary btn-lg btn-block">Click when ready</button>
    {{/unless}}

    {{#if currentSquad.allPlayersAreReady }}
      <button class="joinQueue btn btn-primary btn-lg btn-block">Enter squad into queue</button>

      {{#each reinforceableServers}}
        <button class="reinforce btn btn-primary btn-lg btn-block" data-serverId="{{_id}}" >Reinforce {{name}} as a guard.</button>
      {{/each}}

    {{/if}}
    {{#unless currentSquad.allPlayersAreReady }}
      <button class="btn btn-primary btn-lg btn-block" disabled="disabled">Enter squad into queue</button>
    {{/unless}}
  {{/if}}
</template>













