<template name="companies_list">
  <div>
    <h2>Companies</h2>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Players</th>
          {{#if debug}}
            <th>Debug</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each companies}}
          <tr>
            <td>{{name}}</td>
            <td>{{playerCount}}</td>
            {{#if debug}}
              <td><button class="js-request-invite" data-company-id="{{_id}}">Request Invite</button></td>
            {{/if}}
          </tr>
        {{else}}
          <tr>
            <td colspan="4">No companies found.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
