<template name="ikarus_default">
  <div class="ikarus-main container-fluid">
    {{#if noSteamConfigured}}
      <div style="position: absolute; z-index: 1000;">
        {{> loginButtons}}
      </div>
    {{/if}}

    <header class="row">
      <div class="col-md-7">
        {{#if dev}}
          <button class="js-reset pull-right">Regenerate Test Data</button>
        {{/if}}

        <h1><a href="/">Ikarus</a></h1>

        <p>Download mod from: <a href="https://s3-eu-west-1.amazonaws.com/ikarus.idleplaythings.com/mod/%40ikrs_v0.2.2.zip">here </a></p>
      </div>
      <div class="col-md-5">
        {{> players_status}}
      </div>
    </header>

    <div class="row">
      <div class="col-md-12">
        {{> yield}}
      </div>
    </div>
  </div>
</template>