module.exports = {
  arma: {
    serverId: 'Ikarus EU #1',
    location: '/home/steam/steamcmd/arma3',
    config: '/home/steam/arma/monitor/server1.cfg',
    host: 'ikarus1.tunk.io',
    port: 2302,
    password: 'icecreamtruck',
    BEpath: '/home/steam/arma/monitor/battleye1'
  },

  battlEye: {
    ip: '127.0.0.1',
    port: 2302,
    rconPassword: 'kiiski'
  },

  webApp: {
    host: 'localhost',
    port: 80,
    serverPassword: 'password server uses to auth with webapp'
  },

  rpc: {
    port: 1337
  }
};