<template name="home">
  <div class="ikarus-main container-fluid">
    <div class="row">
      {{#if dev}}
        <button class='js-reset'>Reset</button>
      {{/if}}

      <div class="col-md-4">
        <h1>Ikarus</h1>

        <p>Download mod from: <a href="https://s3-eu-west-1.amazonaws.com/ikarus.idleplaythings.com/mod/%40ikrs_v0.1.1.zip">here </a></p>
      </div>

      <div class="col-md-8">
        <div class="pull-right">
          {{> loginButtons}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <section>
          {{> servers_list}}
        </section>
      </div>
      <div class="col-md-6">
        <section>
          {{> companies_list}}
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <section>
          {{> players_status}}
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <section>
          {{> companies_status}}
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <section>
          {{> squads_status}}
        </section>
      </div>
    </div>
  </div>
</template>