
html {
  overflow-y: scroll;
}

body {
  margin: 0 20px auto 20px;
}

#login-buttons-image-steam {
  width:100px;
  height:30px;
}

.clickable {
  cursor: pointer;
}

.ikarus-main {
  max-width: 1200px;
}

table {
  width: 100%;
}

table td, table th {
  border: 1px solid #999;
  padding: 0 5px;
}

.info-box {
  padding: 15px;
}

header {
  margin: 20px 0 30px 0;
}

.add-top {
  margin-top: 30px;
}

header h2 {
  margin-top: 10px;
}

header h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 150%;
}

section h2 {
  margin: 0;
}

.armory.inventory-entry {
  position: relative;
}
.armory.inventory-entry > img {
  height: 128px;
  position: absolute;
  top: -145px;
  left: -10px;
  border: 2px solid black;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.inventory .inventory-entry {
  position: relative;
  background-color: #ddd;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 12px;
}

.inventory .inventory-entry .item {
  padding: 5px 10px;
  position: relative;
}

.inventory .inventory-entry .in-inventory {
  background-color: #87BD73
}

.inventory .inventory-entry .extras {
  background-color: #eee;
  padding: 5px 10px;
  position: relative;
}

.inventory .inventory-entry .extras.in-inventory {
  background-color: #C0E8B1;
}

.inventory .inventory-entry .title {
}

.inventory .inventory-entry .manage {
  float: right;
  margin-top: -2px;
  margin-right: -8px;
}

.inventory .inventory-entry > img.item-image {
  height: 128px;
  position: absolute;
  top: -145px;
  left: -10px;
  border: 2px solid black;
  background: white;
  padding: 10px;
  border-radius: 5px;
}