body {
  background-image: url("/tausta.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0 20px auto 20px;
}

.ikarus-nav {
  position:fixed;
  z-index:5;
  width:100%;
  left:0;
  top:0;
  border-bottom:1px solid darkgray;
}

.ikarus-nav h2 {
  display:inline;
  line-height: 50px;
  padding-left:10px;
}

.ikarus-nav h2.danger {
  color:#C23A00;
}

.ikarus-nav h2.success {
  color:#62A300;
}

#login-buttons-image-steam {
  width:100px;
  height:30px;
}

.clickable {
  cursor: pointer;
}
.info-box {
  margin-top: 10px;
}

.ikarus-main {
  max-width: 1200px;
  background-color: rgba(255,255,255,0.95);
  padding-top: 80px;
  padding-bottom: 50px;
  height: calc(100%);
  border: 1px solid lightgray;
  border-top: 0px solid lightgray;
}

table {
  width: 100%;
}

table td, table th {
  border: 1px solid #999;
  padding: 0 5px;
}

.info-box {
  padding: 15px;
}

header {
  margin: 20px 0 30px 0;
}

.add-top {
  margin-top: 30px;
}

header h2 {
  margin-top: 10px;
}

header h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 150%;
}

section h2 {
  margin: 0;
}

.armory.inventory-entry {
  position: relative;
}
.armory.inventory-entry > img {
  height: 128px;
  position: absolute;
  top: -145px;
  left: -10px;
  border: 2px solid black;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.inventory .inventory-entry {
  position: relative;
  background-color: #ddd;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 12px;
}

.inventory .inventory-entry .item {
  padding: 5px 10px;
  position: relative;
}

.inventory .inventory-entry .in-inventory {
  background-color: #87BD73
}

.inventory .inventory-entry .extras {
  background-color: #eee;
  padding: 5px 10px;
  position: relative;
}

.inventory .inventory-entry .extras.in-inventory {
  background-color: #C0E8B1;
}

.inventory .inventory-entry .title {
}

.inventory .inventory-entry .manage {
  float: right;
  margin-top: -2px;
  margin-right: -8px;
}

.itemTooltip {
  z-index:10;
  height: 128px;
  position: absolute;
  top: -145px;
  left: -10px;
  border: 2px solid black;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.itemInfo.small .item-image {
  height:100%;
}

.itemInfo.large .item-image {
  width:100%;
}

.itemInfo.small{
  height: 100%;
  padding:0 10px;
}

.itemInfo h3 {
  text-align: center;
}

.itemInfo.small h4 {
  line-height: 10%;
  height:10%;
  padding:0;
  margin:0;
}

.itemInfo.small div {
  height: 90%;
  padding:0;
  margin:0;
}

.marketBuyRow {
  text-align: center;
  font-size: 32px;
}