<template name="home">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <h1>Ikarus</h1>
        <p>Download mod from: <a href="https://s3-eu-west-1.amazonaws.com/ikarus.idleplaythings.com/mod/%40IKRS_common_r1.zip">here </a></p>
      </div>
      <div class="col-md-2">
        <div class="pull-right">
          {{> loginButtons}}
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        {{> serverStatus}}
      </div>
      {{#if currentUser}}
        <div class="col-md-4">
          {{> playerStatus}}
        </div>
      {{/if}}
    </div>

    <div class="row">
    {{#if squad}}
      {{#with squad}}
        <div class="col-md-4">
          {{> startLocation}}
        </div>
        <div class="col-md-4">
          {{> squadMemberInventory}}
        </div>
      {{/with}}
    {{/if}}
    {{#if company}}
      {{#with company}}
        <div class="col-md-4">
          {{> armory}}
        </div>
      {{/with}}
    {{/if}}
    </div>



  </div>

</template>